.feed {
	max-width: 720px; 
	margin: 0 auto;
}

.feed__item {
	padding-right: 5px; 
	padding-left: 5px;
	border-radius: 5px;
	margin: 10px 0 0 0;
}

.feed__item_image {
	height: 140px;
	object-fit: cover;
	background-position: center center;
	background-size: cover;
	border-radius: 5px 5px 0 0;
	margin-bottom: -1px;
}

.feed__item_image_gradient {
	background-image: linear-gradient(
		to top, 
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.88) 11%,
		rgba(0, 0, 0, 0.75) 17%,
		rgba(0, 0, 0, 0.46) 30%,
		rgba(0, 0, 0, 0.3) 38%,
		rgba(0, 0, 0, 0.2) 45%,
		rgba(0, 0, 0, 0.11) 50%,
		rgba(0, 0, 0, 0.05) 54%,
		rgba(0, 0, 0, 0) 100%); 
	height: inherit;
}

.feed__item_text {
	background-color: black; 
	color: white; 
	height: 140px; 
	padding: 10px 15px; 
	font-size: 18px; 
	font-weight: bold; 
	border-radius: 0 0 5px 5px;
	line-height: 24px;
	overflow: hidden;
}